.skills {
  background: $secondaryColour;
  padding: 50px 0;
    ul {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
    }
    li {
      background: $accentColour;
      padding: 10px;
      margin: 5px 10px;
    }
}

.techIcon {
  font-size: 4rem;
  color: $tertiaryColour;
}

.skills li p {
  text-align: center;
  color: $tertiaryColour;
}



svg {
  width: 80px;
  height: 80px;
  fill: #264E70;
  margin: 0 auto;
}
